<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Earth_Adminhtml::admin">
                
                <resource id="Earth_Fblead::fblead" title="Fblead" sortOrder="40">
                    <resource id="Earth_Fblead::manage" title="Fblead Module" sortOrder="10">
                        
					   <resource id="Earth_Fblead::save" title="Save Fblead" sortOrder="10" />
                        <resource id="Earth_Fblead::news_delete" title="Delete Fblead" sortOrder="20" />
					</resource>
                </resource>


                <resource id="Earth_Adminhtml::stores">
                    <resource id="Earth_Adminhtml::stores_settings">
                        <resource id="Earth_Adminhtml::config">
                            <resource id="Earth_Fblead::config_fblead" title="Fblead Section" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
